{
  "root": true,
  "env": {
    "es2020": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },

  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
          }
        }
      },
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint", "import"],
      "extends": [
        "plugin:import/typescript",
        "eslint:recommended",
        "plugin:node/recommended",
        "airbnb-base",
        "prettier",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "import/extensions": "off",
        "linebreak-style": "off",
        "node/no-unsupported-features/es-syntax": "off",
        "no-underscore-dangle": "off",
        "import/prefer-default-export": "off",
        "node/no-missing-import": ["error", {
          "allowModules": ["express", "winston"],
          "tryExtensions": [".ts", ".js" , ".node"]
      }],
      "@typescript-eslint/unbound-method": [
        "error",
        {
          "ignoreStatic": true
        }
      ]
      }
    }
  ],
}
